
<div class="footer__container">
    <div class="footer__links">
        <div class="footer__link--wrapper">
            <div class="footer__link--items">
                <h2>About us</h2>
                <a href="/">How it works</a>
                <a href="/">Testimonals</a>
                <a href="/">Careers</a>
                <a href="/">Investments</a>
                <a href="/">Terms of Service</a>
            </div>
            <div class="footer__link--items">
                <h2>About us</h2>
                <a href="/">How it works</a>
                <a href="/">Testimonals</a>
                <a href="/">Careers</a>
                <a href="/">Investments</a>
                <a href="/">Terms of Service</a>
            </div>
        </div>
        <div class="footer__link--wrapper">
            <div class="footer__link--items">
                <h2>About us</h2>
                <a href="/">How it works</a>
                <a href="/">Testimonals</a>
                <a href="/">Careers</a>
                <a href="/">Investments</a>
                <a href="/">Terms of Service</a>
            </div>
            <div class="footer__link--items">
                <h2>About us</h2>
                <a href="/">How it works</a>
                <a href="/">Testimonals</a>
                <a href="/">Careers</a>
                <a href="/">Investments</a>
                <a href="/">Terms of Service</a>
            </div>
        </div>
    </div>
    <div class="social__media">
        <div class="social__media--wrap">
            <div class="footer__logo">
                <a href="/" id="footer__logo"><i class="fas fa-gem"></i>NEXT</a>
            </div>
            <p class="website__rights"> NEXT 2020. All rights reserved</p>
            <div class="social__icons">
                <a href="/" class="social__icon--link" target="blank">
                <i class="fab fa-facebook"></i>
                </a>
                <a href="/" class="social__icon--link" target="blank">
                <i class="fab fa-instagram"></i>
                </a>
                <a href="/" class="social__icon--link" target="blank">
                <i class="fab fa-twitter"></i>
                </a>
                <a href="/" class="social__icon--link" target="blank">
                <i class="fab fa-linkedin"></i>
                </a>
                <a href="/" class="social__icon--link" target="blank">
                <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>