<nav class="navbar">
    <div class="navbar__container">
        <img src="../../../assets/sk9.png" id="sk9">
        <a href="/index.html" id="navbar__logo"><!--<i class="fa-sharp fa-solid fa-yin-yang"></i>-->KoreAble</a>
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="/" class="navbar__links">Dashboard</a>
            </li>
            <li class="navbar__item">
                <a href="/Grammar.html" class="navbar__links">Grammar</a>
            </li>
            <li class="navbar__item">
                <a href="/Vocabulary.html" class="navbar__links">Vocabulary</a>
            </li>
            <li class="navbar__item">
                <a href="/VerbConjugation.html" class="navbar__links">Verb Conjugation</a>
            </li>
            <li class="navbar__btn">
                <a class="buttonsi" (click)="login()">Sign In</a>
            </li>
            <li class="navbar__btn">
                <a class="buttonsu">Sign Up</a>
            </li>
        </ul>
    </div>
</nav>