<div class="services">
    <h1>You will be able to learn Korean in no time...</h1>
    <div class="services__container">
        <div class="services__card">
            <h2>How about some grammar?</h2>
            <p>Be able to build real sentences</p>
            <button>Get Started</button>
        </div>
        <div class="services__card">
            <h2>Ready for new Vocabulary?</h2>
            <p>Take the leap</p>
            <button>Get Started</button>
        </div>
    </div>
</div>