<div class="wrapper">
    <div class="form-box login">
        <h2>Sign up</h2>
        <div [formGroup]="signupForm">
            <p>
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label class="white">Please enter an email address</mat-label>
                    <input class="white input" matInput formControlName="email" placeholder="Email">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label class="white">Please enter a password</mat-label>
                    <input class="white input" type="password" matInput formControlName="password" placeholder="Password">
                    <mat-icon matSuffix>key</mat-icon>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label class="white">Please confirm your password</mat-label>
                    <input class="white input" type="password" matInput formControlName="password" placeholder="Password">
                    <mat-icon matSuffix>key</mat-icon>
                </mat-form-field>
            </p>
            <div style="width: 100%; display:flex; justify-content: center;">
                <button mat-raised-button style="margin: auto">
                    <span>SIGN UP</span>
                </button>
            </div>
        </div>
    </div>
</div>