* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans' ;
}

::-webkit-scrollbar{
    background-color:#131313;
    width: 0.9em;
}

::-webkit-scrollbar-track {
    background: hsl(0, 100%, 11%);
    border-radius: 100vw;
    margin-block: .2em;
    
}

::-webkit-scrollbar-thumb {
    background: rgb(22, 0, 2);
    border: .2em solid rgb(32, 0, 0);
    border-radius: 100vw; 
}
::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 100%, 13%);
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color:  hsl(0, 97%, 13%)  hsl(352, 98%, 19%);
        scrollbar-width: thin;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
